@model Yioulaieuwechat.Web.Models.ResponseModel
@{
    ViewBag.Title = "VerifyEmail";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h2>VerifyEmail</h2>

@if (Model != null)
{
    <h2>@Model.Message</h2>
}